.content {
  display: flex;
  padding: 40px 0;

  align-items: center;
}

.left-side {
  position: relative;
  top: 50px;
  opacity: 0;
  z-index: 1;

  &__title {
    font-size: 80px;
    font-family: "Rubik Mono One", sans-serif;
    word-wrap: normal;
    letter-spacing: 0.08em;
  }
  
  &__subtitle {
    margin-top: 20px;
    width: 50%;

    line-height: 1.5em;
    font-size: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__arrow {
    position: relative;
    left: 30px;
    top: 50px;
  }
}

.right-side {
  display: flex;
  position: relative;
  opacity: 0;
  right: -100px;

  &__picture {
    position: relative;
    right: 270px;
    height: 750px;
    z-index: -1;
  }

  &__video {
    position: relative;
    top: 40px;
    left: -115px;
    display: inline-block;
    
    &--text {
      width: 50%;
      position: relative;
      top: 80px;
      left: -150px;
      float: left;
      transform: rotate(-90deg);
      display: flex;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 20px;
        right: 50px;
        height: 20px;
        width: 70px;
        border-left: 1px solid #cdcdcd;
        border-bottom: 1px solid #cdcdcd;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 19px;
        right: 50px;
        height: 3px;
        width: 3px;
        background-color: #CDCDCD;
        border-radius: 50%;
      }
    }
    
    &--button {
      position: relative;
      top: 15px;

      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 769px) {
  .content {
    display: block;
  }

  .left-side {
    width: 85%;
  
    &__title {
      font-size: 52px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__arrow {
      display: none;
    }
  }

  .right-side {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 470px;
    left: 370px;

    &__picture {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__video {
      left: 80px;
      top: 50px;

      &--text {
        display: none;
      }

      &--button {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .content {
    display: block;
    padding: 0;
  }

  .left-side {
    width: 85%;
  
    &__title {
      font-size: 34px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  .right-side {
    height: auto;
    top: 350px;
  }
}
