@import "nav.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {

    &__logo {
      margin: 0 auto;
    }
  }
}
