@import "nav.scss";
@import "burger.scss";

.header {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    outline: none;
  }
  
  &.menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: white;
    z-index: 1;
  }

  &__logo {

    &.menu {
      display: none;
    }
  }
}
