.nav {
  width: 41%;
  display: flex;
  justify-content: space-between;

  &__link {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    
    &:first-child {
      
      &::after {
        content: '';
        position: relative;
        right: 10px;
        display: block;
        width: 20px;
        height: 1px;
        background-color: #3a30f8;

      }
    }
  }
}

@media screen and (max-width: 769px) {
  .nav {
    // display: block;
    width: 55%;
    justify-content: space-between;

    &__item {
      // padding-right: 20px;
    }
  }
}
